<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="header(title)">
    <meta charset="UTF-8" />
    <title th:text="'Blog | ' + ${title}"></title>
    <link rel="stylesheet" href="/css/style.css" />
</th:block>

<!-- USE THIS WHEN APPLYING FRAGMENT IN OTHER HTML FILE-->
<!-- <head> -->
<!-- <th:block th:include="fragments/head :: header('Contact Us')" />-->
<!-- </head> -->

<th:block th:fragment="header-bootstrap(title)">
    <meta charset="UTF-8" />
    <title th:text="'Blog | ' + ${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
</th:block>
</body>
</html>