<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<th:block th:fragment="navbar1">
    <div class="container" sec:authorize="isAuthenticated()">
        <div class="row">
            <ul>
                <li>
                    Welcome to our blog post site, <span th:text="${#authentication.principal.username}"></span>!
                </li>
                <!-- More links here... -->
                <li>
                    <a href="http://google.com">Google</a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" sec:authorize="isAnonymous()">
        <div class="row">
            <a href="http://google.com">Google</a>
            <form th:action="@{/login}" th:method="get">
                <button class="btn-link btn" style="margin-top: 8px">Login</button>
            </form>
        </div>
    </div>
</th:block>


</body>
</html>